table{
	
	
	
}
th{
	border: 1px solid black;
	 
	width: 20px;
	background-color: gray;
	color: white;
	
}
td{
	    
		width: 20px;
		border: 1px solid black;
		
		
}
#top{
	
	
	
}
h1{
	font-size: 48px;
	margin-left: 350px;
	color: gray;
}