#bdy{
	height: 800px;
	width: 1400px;
	background: rgb(2,0,36);
 background: linear-gradient(156deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 100%);
}
#top{
	background-color: LightYellow;
	width: 1420;
	height: 100px;
	color: RoyalBlue;
	box-shadow: 5px 5px 8px 5px gray;
	background: rgb(2,0,36);
 background: linear-gradient(156deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 100%);
}
img{
	height: 100px;
	width: 100px;
	
	margin-top: -4%;
}
h1{
	margin-left: 450px;
	
	
	
}
h1:hover{
	color: white;
}
#logout2{
	margin-left: 1350px; 
	background-color: blue;
	color: white;
}
input:hover{
	color: white;
}


#abc1{
	height: 50px;
	width: 500px;
	margin-left: 450px;
	margin-top: 40px;
	background-color:  RoyalBlue;
	color: white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
	
	
	
}
#k1{
	margin-left: 20px;
	padding-top: 10px;
	font-size: 22px;
}
#abc2{
	height: 50px;
	width: 500px;
    margin-left: 60px;
	margin-top: 40px;
	background-color:  Green;
	color: white;
	text-align: center;
	border-radius: 20px;
	font-size: 10px;
	box-shadow: 5px 5px 8px 5px white;
}
#k2{
	margin-left: 20px;
	padding-top: 10px;
		font-size: 22px;
}
.material-icons{
	margin-left: 50px;
	color: black;
	font-size: 50px;
	margin-top: 5px;
	
	
	
	
}
#abc3{
	height: 50px;
	width: 500px;
     margin-left: 850px;
	margin-top: -3.5%;
	background-color: Green;
	color: white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
}
#k3{
	margin-left: 10px;
		font-size: 22px;
		padding-top: 10px;
}
#abc4{
	height: 50px;
	width: 500px;
     margin-left: 60px;
	margin-top: 40px;
	background-color: GoldenRod  ;
	color: white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
}
#k4{
	margin-left: 10px;
	font-size: 22px;
	padding-top: 10px;
}
#tmp{
	margin-left: 50px;
	margin-bottom: 2px;
	color: black;
	
	
}
#abc5{
	height: 50px;
	width: 500px;
    margin-left: 850px;
	margin-top: -3.5%;
	background-color:  GoldenRod;
	color: white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
}
#kj{
	margin-left: 50px;
	color: black;
	
}
#kj1{
	margin-left: 50px;
	color: red;

}
#k5{
	margin-left: 10px;
		font-size: 22px;
		padding-top: 10px;
}
#abc6{
	height: 50px;
	width: 500px;
   margin-left: 60px;
	margin-top: 40px;
	background-color: Olive;
	color: white;
	text-align: center;
	border-radius: 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
}
#k6{
	margin-left: 10px;
		font-size: 22px;
		padding-top: 10px;
}

#abc7{
	height: 50px;
	width: 500px;
    margin-left: 850px;
	margin-top: -3.5%;
	background-color:  Olive;
	color:white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
}
#k7{
	margin-left: 10px;
		font-size: 22px;
		padding-top: 10px;
}

#abc8{
	height: 50px;
	width: 500px;
     margin-left: 60px;
	margin-top: 40px;
	background-color: GoldenRod;;
	color: white;
	text-align: center;
	border-radius: 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
}
#k8{
	margin-left: 10px;
		font-size: 22px;
		padding-top: 10px;
}

#abc9{
	height: 50px;
	width: 500px;
     margin-left: 850px;
	margin-top: -3.5%;
	background-color:   GoldenRod;;
	color:white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
}
#k9{
	margin-left: 10px;
		font-size: 22px;
		padding-top: 10px;
}
i{
	float: left;
	margin-top: 3%;
}
#abc10{
	height: 50px;
	width: 500px;
   margin-left: 60px;
	margin-top: 40px;
	background-color:   RoyalBlue;;
	color: white;
	text-align: center;
	border-radius: 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
}
#k10{
	margin-left: 10px;
	font-size: 22px;
	padding-top: 10px;
}
#abc11{
	height: 50px;
	width: 500px;
    margin-left: 850px;
	margin-top: -3.5%;
	background-color: RoyalBlue;
	color: white;
	text-align: center;
	border-radius: 20px;
	box-shadow: 5px 5px 8px 5px white;
}
#kl11{
	margin-left: 10px;
	font-size: 22px;
	padding-top: 10px;
}
h2:hover{
	
	color: white;

}
i:hover{
	
}




